<form [formGroup]="contactForm">
    <table>
        <tr>
            <th colspan="3">Edit Contact
                {{contactForm.value | json}}
            </th>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" formControlName="name"></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>:</td>
            <td><input type="text" formControlName="contact"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><button (click)="onUpdateFormSubmit()">Save</button></td>
        </tr>
    </table>
</form>