<h1>Contact Directory</h1>

<table border="1" align="center" width="100%">
    <thead class="header">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Contact</th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor="let c of contacts, let i = index">
        <td>{{c.id}}</td>
        <td>{{c.attributes.name}}</td>
        <td>{{c.attributes.contact}}</td>
        <td>
            <button><a routerLink="edit/{{c.id}}">Edit</a></button>
            <button (click)="onContactDelete(c.id)">Delete</button>
        </td>
    </tr>

</table>

<a routerLink="insert">Insert</a>