<form [formGroup]="contactForm">
    <table>
        <tr>
            <th colspan="3">Insert Contact Form</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input formControlName="name" type="text"></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>:</td>
            <td><input formControlName="contact" type="text"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><button (click)="onInsertFormSubmit()">Save</button><button><a routerLink="/"> Cancel</a></button></td>
        </tr>
    </table>
</form>